In [1]:
from nycflights13 import flights

In [2]:
import pandas as pd

In [4]:
from nycflights13 import planes

In [3]:
flights_df = pd.DataFrame(flights)

In [5]:
planes_df = pd.DataFrame(planes)

In [6]:
flights_planes_df = pd.merge(flights_df[['tailnum', 'carrier', 'flight']], planes_df[['tailnum', 'manufacturer', 'model']], how='inner')

In [7]:
flights_planes_df

       tailnum carrier  flight    manufacturer        model
0       N14228      UA    1545          BOEING      737-824
1       N14228      UA    1579          BOEING      737-824
2       N14228      UA    1142          BOEING      737-824
3       N14228      UA    1707          BOEING      737-824
4       N14228      UA    1572          BOEING      737-824
...        ...     ...     ...             ...          ...
284165  N766SK      OO    5568  BOMBARDIER INC  CL-600-2C10
284166  N772SK      OO    5568  BOMBARDIER INC  CL-600-2C10
284167  N776SK      OO    5568  BOMBARDIER INC  CL-600-2C10
284168  N785SK      OO    5568  BOMBARDIER INC  CL-600-2C10
284169  N557AS      AS      15          BOEING      737-890

[284170 rows x 5 columns]

In [25]:
flights_planes_df.groupby(['manufacturer', 'carrier']).count().query('manufacturer == "AIRBUS"').sort_values('flight', ascending=False)

                      tailnum  flight  model
manufacturer carrier
AIRBUS       B6         29596   29596  29596
             DL          5188    5188   5188
             VX          5162    5162   5162
             US          4850    4850   4850
             UA          1638    1638   1638
             F9           526     526    526
             HA           342     342    342

In [26]:
from nycflights13 import airlines

In [27]:
airlines_df = pd.DataFrame(airlines)

In [29]:
airlines_df.query('carrier == "B6"')

  carrier             name
3      B6  JetBlue Airways